*{
margin: 0;
padding: 0;
}
section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
}

.container-slider {
    width: 400%;
    height: auto;
    display: flex;
    overflow: hidden;
}

.container-slide input{
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
}

.slide-box img {
    width: 100%;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid red;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer; 
    transition: 0.3s; 
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: red;
}



