

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #161618;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}


canvas {
  width: 100% !important;
  height: 100% !important;
}


.container-header {
  width: 15vw;
  height: 100vh;
  display: flex;

}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #504a4a;
  text-align: center;
}

.perfil-img {
    width: 7rem;
    height: 7rem;
    border: solid #2ed0e9;
    border-radius: 50%;
    background-color: white;
    background-image: url(../assets/imagem-caveira.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #f7a428;
  font-weight: 300;
  font-size: 1.2rem;
}


.btn-nav {
  width: 50%;
  height: 2rem;
  color: white;
  background-color: #2499ff;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 50%;
  height: 2rem;
  background-color: #2499ff;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-custom {
  width: 50%;
  height: 2rem;
  color: white;
  background-color: #2499ff;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-lab {
  width: 50%;
  height: 2rem;
  color: white;
  background-color: #2499ff;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

div span{
  font-weight: 800;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 40%;
  background-color: #0a0a0a;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}


.container{
  width: 75vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-kpi{
  width: 60vw;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content-kpi {
  width: 15vw;
  height: 25vh;
  display: flex;
  border: solid #2499ff;
  background-color: white;
  color: black;
  justify-content: center;
  font-size: 16px;
}

.container-dash {
  width: 70vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: end;
}


.box-dash {
  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.graficoFavorito {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 60vw;
  margin-bottom: 1rem;
}

.dash {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff0c0c;
  text-decoration: none;
  text-align: center;
  text-shadow: 0.8;
  display: inline;
  background-color: #ffffff;
  border: #ffffff solid;
  border-radius: 12px;
}

.leaderboard {
  width: 27%;
  margin: 0 auto;
  padding: 5px;
  border-left: solid #2499ff;
  background-color: #504a4a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container-imagem {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: url(../assets/ranking-r6.png);
  background-position: center;
  background-size: cover;
}


.titulo-h1, .titulo-h3 {
  text-align: center;
}

.pontuacao_leaderboard {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pontuacao_leaderboard h2 {
  margin: 0;
  font-size: 1.2em;
  flex: 1;
  text-align: center;
}
.pontuacao_leaderboard h1 {
 font-size: 1.3em;
 padding-right: 17px;
 font-weight: 800;
 padding-left: 20px;
  text-align: center;
}

.pontuacao_leaderboard .placar_img_usuario {
  width: 50px;
  height: 50px;
  background-color: #e0e0e0;
  border-radius: 50%;
  margin-right: 10px;
  
}

.pontuacao_leaderboard img {
  width: 14%;
  padding-left: 7px;
  padding-right: 10px;
}
